USE [UserManagementDB]
GO
/****** Object:  Table [dbo].[AdminAccount]    Script Date: 3/6/2026 6:10:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminAccount](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 3/6/2026 6:10:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[Ma] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[Email] [varchar](100) NOT NULL,
	[DienThoai] [varchar](20) NULL,
	[DiaChi] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AdminAccount] ON 

INSERT [dbo].[AdminAccount] ([Id], [Username], [Password], [FullName]) VALUES (1, N'admin', N'123456', N'Qu?n tr? viên')
SET IDENTITY_INSERT [dbo].[AdminAccount] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([Ma], [HoTen], [NgaySinh], [Email], [DienThoai], [DiaChi]) VALUES (3, N'Bùi Bách Tùng ', CAST(N'2003-12-07' AS Date), N'tungbbhe176368@fpt.edu.vn', N'0865869202', N'Số nhà 29, tên đường BB, quận/huyện GG')
INSERT [dbo].[NguoiDung] ([Ma], [HoTen], [NgaySinh], [Email], [DienThoai], [DiaChi]) VALUES (4, N'Trần Thanh Lâm', CAST(N'1999-12-02' AS Date), N'admin@greenshop.com', N'09654546848', N'Số nhà 03, tên đường YY, quận/huyện ZZ')
INSERT [dbo].[NguoiDung] ([Ma], [HoTen], [NgaySinh], [Email], [DienThoai], [DiaChi]) VALUES (8, N'Đinh Ngọc Duy', CAST(N'2003-11-01' AS Date), N'xyc@greenshop.com', N'09545312135', N'Số nhà 03, tên đường E, quận/huyện TT')
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__AdminAcc__536C85E45B82F2FD]    Script Date: 3/6/2026 6:10:23 PM ******/
ALTER TABLE [dbo].[AdminAccount] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UC_Email]    Script Date: 3/6/2026 6:10:23 PM ******/
ALTER TABLE [dbo].[NguoiDung] ADD  CONSTRAINT [UC_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
